<div class="loading-overlay" hidden="@(!IsLoading)">
    <img class="image-overlay" src="_content/PESOapps.Shared/images/peso_logo.png">
    <div class="loading-by">
        <p>From</p>
        <div class="loading-div">
            <img class="bg-image" src="_content/PESOapps.Shared/images/pmis.png"><p>PMIS</p>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public string Message { get; set; } = "Loading...";
}
