@inherits LayoutComponentBase

<div class="main-container-layout">
    <div class="navigation-section">
        <NavMenu />
    </div>
    <div class="cover">
        <img class="bg-image" src="_content/PESOapps.Shared/images/banner_img.png">
    </div>
    <div class="coverlog">
        <img class="log-image" src="" />
    </div>
    <main>
        <article class="main-container">
            @Body
        </article>
    </main>
</div>
