@inherits LayoutComponentBase

<div class="main-container-layout">
    <div class="navigation-section">
        <NavMenu />
    </div>
    <div class="cover">
        <img class="bg-image" src="_content/PESOapps.Shared/images/banner_img.png">
    </div>
    <div class="coverlog">
        <img class="log-image" src="" />
    </div>
    <main>
        <article class="main-container">
            @Body
        </article>
    </main>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-div">
                <a class="form-link" href="https://www.misamisoriental.gov.ph/" target="_blank">© 2025 Misamis Oriental. All rights reserved.</a>
            </div>
            <div class="footer-div">
                <i class="fa-brands fa-square-facebook" href="https://www.facebook.com/PESO.misamisoriental" target="_blank"></i>
            </div>
        </div>
    </div>
</div>
