@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="main-container-layout">
    <div class="navigation-section">
        <NavMenu />
    </div>
    <div class="cover">
        <img class="bg-image" src="_content/PESOapps.Shared/images/banner_img.png">
    </div>
    <div class="coverlog">
        <img class="log-image" src="" />
    </div>
    <main>
        <article class="main-container">
            @Body
        </article>
    </main>
    <div id="themeButton" class="theme btn dark-mode" @onclick="ToggleTheme">
        <div class="btn__indicator">
            <div class="btn__icon">
                <i id="icons" class="fa-solid fa-moon"></i>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-div">
                <a class="form-link" href="https://www.misamisoriental.gov.ph/" target="_blank">© 2025 Misamis Oriental. All rights reserved.</a>
            </div>
        </div>
    </div>
</div>

@code {
    private async Task ToggleTheme()
    {
        await JS.InvokeVoidAsync("toggleTheme");
    }
}
