<div class="navbars">
    <div class="navbar-container">
        <div class="navbar-logo">
            <NavLink href="" Match="NavLinkMatch.All">
                <div class="log-diver">
                    <img src="_content/PESOapps.Shared/images/peso.png" />
                    <div class="log-inside-conts">
                    <div class="log-inside">
                        <h5>P</h5><h5 class="ext">ublic</h5>
                        <h5>E</h5><h5 class="ext">mployment</h5>
                        <h5>S</h5><h5 class="ext">ervice</h5>
                        <h5>O</h5><h5 class="ext">ffice</h5>
                    </div>
                    <div class="log-inside">
                    <span>Misamis Oriental</span>
                    </div>
                    </div>
                </div>
            </NavLink>
        </div>
        <div class="nav-scrollable">
            <nav class="navbar-option">
                <div class="nav-item">
                    <NavLink class="nav-links" href="" Match="NavLinkMatch.All">
                        <div class="nav-icons">
                            <img src="_content/PESOapps.Shared/svg/house-solid.svg" />
                        </div>
                        <span>Home</span>
                    </NavLink>
                </div>

                <div class="nav-item has-submenu">
                    <NavLink class="nav-links" href="nbiconcern">
                        <img src="_content/PESOapps.Shared/svg/hand-holding-heart-solid.svg" />
                        <span>Services</span>
                    </NavLink>
                    <div class="nav-sub">
                        <NavLink class="nav-links-sub" href="nbiconcern">
                            Issuance of Endorsement for NBI Clearance Concerns
                        </NavLink>
                        <NavLink class="nav-links-sub" href="passportconcern">
                            Issuance of Endorsement for DFA Passport Concerns
                        </NavLink>
                        <NavLink class="nav-links-sub" href="pesocertificate">
                            Issuance of PESO Certificate
                        </NavLink>
                        <NavLink class="nav-links-sub" href="privateentities">
                            Referral to Public and Private Entities
                        </NavLink>
                        <NavLink class="nav-links-sub" href="governmentinstitutions">
                            Issuance of Recommendation Letter for Private Entities and other Government Institutions
                        </NavLink>
                        <NavLink class="nav-links-sub" href="assistanceservice">
                            Employment Welfare and Assistance Service
                        </NavLink>
                        <NavLink class="nav-links-sub" href="objectioncertificate">
                            Issuance of No Objection Certificate (NOC)
                        </NavLink>
                    </div>
                </div>
                <div class="nav-item has-submenu">
                    <NavLink class="nav-links" href="SPES">
                        <img src="_content/PESOapps.Shared/svg/handshake-solid.svg" />
                        <span>Programs</span>
                    </NavLink>
                    <div class="nav-sub">
                            Special Program for Employment of Students (SPES)
                        </NavLink>
                            Career Guidance and Employment Coaching/ Labor Education for Graduating Students
                        </NavLink>
                            Conduct of Job Fair
                        </NavLink>
                        <div class="sub-sub">
                        <NavLink class="nav-links-sub" href="">
                            DOLE Integrated Livelihood and Emergency Employment
                        </NavLink>
                            <div class="sub-sub-sub">
                                <NavLink class="nav-links-sub" href="TUPAD">
                                    1.Tulong Panghanapbuhay sa ating Displaced/Disadvantaged Workers (TUPAD)
                                </NavLink>
                                <div class="sub-sub-sub-sub">
                                    <NavLink class="nav-links-sub tupad" href="Tupadreg">
                                        <button class="nav-link">
                                            TUPAD Beneficiary
                                        </button>
                                    </NavLink>
                                    <NavLink class="nav-links-sub tupad" href="Login">
                                        <button class="nav-link">
                                            LOGIN
                                        </button>
                                    </NavLink>
                                </div>
                                <NavLink class="nav-links-sub" href="Dilp">
                                    2. DOLE Integrated Livelihood Program (DILP)
                                </NavLink>
                            </div>
                         </div>
                        <NavLink class="nav-links-sub" href="DistressedOFW">
                            Support to Distressed Overseas Filipinos Workers
                        </NavLink>
                            Financial Support to Aspiring Overseas Filipino Workers (OFWs) thru the Travel for Work Now, Pay Later Program
                        </NavLink>
                            Single Digit Poverty Incidence (SDPI) Program
                        </NavLink>
                    </div>
                </div>

                <div class="nav-item has-submenu">
                    <NavLink class="nav-links" href="https://pesomisor.com/" target="_blank">
                        <i class="fa-solid fa-user-tie"></i>
                        <span>Job Vacancies</span>
                    </NavLink>
                    <div class="nav-sub">
                        <NavLink class="nav-links-sub" href="https://www.facebook.com/PESO.misamisoriental" target="_blank">
                            PESO Facebook
                        </NavLink>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>