<div class="navbars">
    <div class="navbar-container">
        <div class="navbar-logo">
            <div class="log-diver">
                <img src="_content/PESOapps.Shared/images/peso.png" />
                <div class="log-inside">
                    <h5>P</h5><h5 class="ext">ublic</h5>
                    <h5>E</h5><h5 class="ext">mployment</h5>
                    <h5>S</h5><h5 class="ext">ervice</h5>
                    <h5>O</h5><h5 class="ext">ffice</h5>
                </div>
            </div>
        </div>
        <div class="nav-scrollable">
            <nav class="navbar-option">
                <div class="nav-item">
                    <NavLink class="nav-links" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </div>

                <div class="nav-item has-submenu">
                    <NavLink class="nav-links" href="/nbiconcern">
                        Services
                    </NavLink>
                    <div class="nav-sub">
                        <NavLink class="nav-links-sub" href="nbiconcern">
                            Issuance of Endorsement for NBI Clearance Concerns
                        </NavLink>
                        <NavLink class="nav-links-sub" href="passportconcern">
                            Issuance of Endorsement for DFA Passport Concerns
                        </NavLink>
                        <NavLink class="nav-links-sub" href="pesocertificate">
                            Issuance of PESO Certificate
                        </NavLink>
                        <NavLink class="nav-links-sub" href="privateentities">
                            Referral to Public and Private Entities
                        </NavLink>
                        <NavLink class="nav-links-sub" href="governmentinstitutions">
                            Issuance of Recommendation Letter for Private Entities and other Government Institutions
                        </NavLink>
                        <NavLink class="nav-links-sub" href="assistanceservice">
                            Employment Welfare and Assistance Service
                        </NavLink>
                        <NavLink class="nav-links-sub" href="objectioncertificate">
                            Issuance of No Objection Certificate (NOC)
                        </NavLink>
                    </div>
                </div>

                <div class="nav-item has-submenu">
                    <NavLink class="nav-links" href="https://pesomisor.com/">
                        Programs
                    </NavLink>
                    <div class="nav-sub">
                        <NavLink class="nav-links-sub" href="SPES">
                            Special Program for Employment of Students (SPES)
                        </NavLink>
                        <NavLink class="nav-links-sub" href="CareerGuidance">
                            Career Guidance and Employment Coaching/ Labor Education for Graduating Students
                        </NavLink>
                        <NavLink class="nav-links-sub" href="JobFair">
                            Conduct of Job Fair
                        </NavLink>
                        <NavLink class="nav-links-sub" href="https://pesomisor.com/" target="_blank">
                            DOLE Integrated Livelihood and Emergency Employment
                        </NavLink>
                        <NavLink class="nav-links-sub" href="DistressedOFW">
                            Support to Distressed Overseas Filipinos Workers
                        </NavLink>
                        <NavLink class="nav-links-sub" href="AspiringOFW">
                            Financial Support to Aspiring Overseas Filipino Workers (OFWs) thru the Travel for Work Now, Pay Later Program
                        </NavLink>
                        <NavLink class="nav-links-sub" href="" target="_blank">
                            Single Digit Poverty Incidence (SDPI) Program
                        </NavLink>
                    </div>
                </div>

                <div class="nav-item has-submenu">
                    <NavLink class="nav-links" href="https://pesomisor.com/" target="_blank">
                        Job Portal
                    </NavLink>
                    <div class="nav-sub">
                        <NavLink class="nav-links-sub" href="https://www.facebook.com/PESO.misamisoriental" target="_blank">
                            PESO Facebook
                        </NavLink>
                        <NavLink class="nav-links-sub" href="https://pesomisor.com/" target="_blank">
                            PESO Website
                        </NavLink>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>