@page "/assistanceservice"

<PageTitle>ASSISTANCE SERVICE</PageTitle>

<div class="form-cont">
    <h2 class="center-align">EMPLOYMENT WELFARE AND ASSISTANCE SERVICE</h2>
    <p class="center-align">
        <strong>ABOUT THE SERVICE:</strong> NOC is one of the requirements for the conduct of recruitment activities by our employment-providers
        (local companies or overseas employment agencies) thus expanding the existing employment facilitation service machinery of the Provincial Government.</p>

    <table>
        <tr>
            <th>OFFICE:</th>
            <td>Public Employment Service Office</td>
        </tr>
        <tr>
            <th>CLASSIFICATION:</th>
            <td>Simple</td>
        </tr>
        <tr>
            <th>TYPE OF TRANSACTION:</th>
            <td>G2C – Government to Citizen<br>G2G – Government to Government</td>
        </tr>
        <tr>
            <th>WHO MAY AVAIL:</th>
            <td>All</td>
        </tr>
    </table>

    
    <table>
        <tr>
            <th class="center">CHECKLIST REQUIREMENTS</th>
            <th class="center">WHERE TO SECURE</th>
        </tr>
        <tr>
            <td>Any Valid Identification Card (ID)</td>
            <td>SSS, UMID, GSIS, Postal ID, etc.</td>
        </tr>
        <tr>
            <td>Letter – Request of the OFW or Next of Kin (NOK)</td>
            <td>Provided by the client</td>
        </tr>
    </table>

    <div class="table-scroll">
        <table>
            <tr>
                <th class="center">CLIENT STEPS</th>
                <th class="center">AGENCY ACTION</th>
                <th class="center">FEES TO BE PAID</th>
                <th class="center">PROCESSING TIME</th>
                <th class="center">PERSON RESPONSIBLE</th>
            </tr>
            <tr>
                <td>1. Sign in the Client Log Book and Present Identification Card</td>
                <td>1.1 Give the logbook to the Client.</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>2. Seek for assistance relative to OFW’s concerns and other related concerns</td>
                <td>2.1 Interview OFW or NOK and help the client accomplish the form (Client Profile and Employment Welfare Form).</td>
                <td>None</td>
                <td>20 mins.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>3. Request for Endorsement / Referral Letter to the agencies,  depending  on the   nature  of   case   or request of client.</td>
                <td>3.1 Prepare Endorsement / Referral Letter:<br>
                    <ul>
                        <li><span style="font-weight: bold;">OWWA</span> – cases of documented OFWs like Maltreatment, Repatriation and the like</li>
                        <li><span style="font-weight: bold;">DFA</span> – cases of undocumented OFWs</li>
                        <li><span style="font-weight: bold;">DSWD</span> – cases of Abandonment and Non-support of minor children, Request for Financial Assistance</li>
                        <li><span style="font-weight: bold;">DOLE/ NLRC/ NRCO</span> – cases of Unpaid Salaries and Reintegration Services</li>
                        <li><span style="font-weight: bold;">Public Attorney’s Office</span> – cases on abandonment, Non-Support & Infidelity</li>
                    </ul>
                </td>
                <td>None</td>
                <td style="vertical-align: top;">5 mins.</td>
                <td style ="vertical-align: top;">Labor and Employment Officer I<br><br>Asst. PESO Manager</td>
            </tr>
            <tr>
                <td>4. Release copy of Referral/Endorsement Letter</td>
                <td>4.1 Review and sign the Endorsement / Referral Letter.</td>
                <td>None</td>
                <td>1 min.</td>
                <td>PESO Manager</td>
            </tr>
            <tr>
                <td>5. Receive copy of Endorsement/Referral Letter</td>
                <td>
                    5.1 Issue the Endorsement / Referral Letter.<br>
                    5.2 Accompany the Client to the concerned Office.
                </td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
        </table>
    </div>
    <p><strong>TOTAL: 28 minutes</strong></p>
    <p><em>End of Transaction</em></p>
</div>