@page "/governmentinstitutions"

<PageTitle>GOVERNMENT INSTITUTIONS</PageTitle>

<div class="form-cont">
    <h2 class="center-align headers">ISSUANCE OF RECOMMENDATION LETTER FOR PRIVATE ENTITIES AND OTHER GOVERNMENT INSTITUTIONS</h2>
    <p class="center-align justify"><strong>ABOUT THE SERVICE:</strong> It helps facilitate employment for job seekers/applicants who intend to be recommended by the Local Chief Executive to private entities or other government institutions.</p>

    <table>
        <tr><th>OFFICE:</th><td>Public Employment Service Office</td></tr>
        <tr><th>CLASSIFICATION:</th><td>Simple</td></tr>
        <tr><th>TYPE OF TRANSACTION:</th><td>G2C – Government to Citizen</td></tr>
        <tr><th>WHO MAY AVAIL:</th><td>All</td></tr>
    </table>

   
    <table>
        <tr>
            <th class="center">CHECKLIST REQUIREMENTS</th>
            <th class="center">WHERE TO SECURE</th>
        </tr>
        <tr>
            <td>
                Any of the following:<br>
                <span style="display:block; text-indent:30px;">✔ Resume with ID Photo <br></span>
                <span style="display:block; text-indent:30px;">✔ Application Letter <br></span>
                <span style="display:block; text-indent:30px;">✔ Letter Request addressed to the Provincial Governor <br></span>

            </td>
            <td>Provided by the applicant</td>
        </tr>
    </table>

    <div class="table-scroll">
        <table>
            <tr>
                <th class="center">CLIENT STEPS</th>
                <th class="center">AGENCY ACTION</th>
                <th class="center">FEES TO BE PAID</th>
                <th class="center">PROCESSING TIME</th>
                <th class="center">PERSON RESPONSIBLE</th>
            </tr>
            <tr>
                <td>1. Sign in the Client Log Book</td>
                <td>1. Give the logbook to the Client and receive the required documents</td>
                <td class="center-align">None</td>
                <td class="center-align">1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>2. Request for the recommendation letter for employment purposes</td>
                <td style="vertical-align: top;">
                    2. Start preparing the recommendation letter <br><br><br>2.1 Review and countersign the recommendation letter<br><br><br>2.2 Endorse the recommendation
                    letter to the Office of the Provincial Administrator for review/countersign and to the Office of the Provincial Governor for signature<br><br>
                    <span style="display:block; text-indent:30px;">2.2.1 For Provincial Administrator’s Review and Countersign <br><br></span>
                    <span style="display:block; text-indent:30px;">2.2.2 For Governor’s Signature</span>
                    </td>
                <td class="center-align">None</td>
                <td class="center-align" style="vertical-align: top;">15 mins.<br><br><br>2 mins.<br><br><br>3 mins.<br><br><br><br>3 Working Days<br>4 Working Days</td>
                <td style="vertical-align: top;">
                    Labor and Employment Officer I<br>PESO Manager<br>Administrative Aide I<br><br><br><br><br>Provincial Administrator<br>
                    Provincial Governor</td>
            </tr>
            <tr>
                <td>3. Receive Follow-up Slip -	Wait for the approved Recommendation Letter</td>
                <td>3. Issue Follow-up Slip to the client</td>
                <td class="center-align">None</td>
                <td class="center-align">1 min.</td>
                <td>Labor and Employment Officer I</td>
            </tr>
            <tr>
                <td>4. Receive the Recommendation Letter</td>
                <td>4. Notify the client that the Recommendation Letter is ready for release<br> - Issue the signed Recommendation Letter to the client</td>
                <td class="center-align">None</td>
                <td class="center-align">1 min.</td>
                <td>Labor and Employment Officer I</td>
            </tr>
        </table>
    </div>
    <h3 class="center-align">TOTAL: 7 days and 23 minutes</h3>
    <p class="center-align">End of Transaction</p>
</div>