@page "/governmentinstitutions"

<PageTitle>GOVERNMENT INSTITUTIONS</PageTitle>

<div class="form-cont">
    <h2>ISSUANCE OF RECOMMENDATION LETTER FOR PRIVATE ENTITIES AND OTHER GOVERNMENT INSTITUTIONS</h2>
    <p><strong>ABOUT THE SERVICE:</strong> It helps facilitate employment for job seekers/applicants who intend to be recommended by the Local Chief Executive to private entities or other government institutions.</p>

    <table>
        <tr><th>OFFICE:</th><td>Public Employment Service Office</td></tr>
        <tr><th>CLASSIFICATION:</th><td>Simple</td></tr>
        <tr><th>TYPE OF TRANSACTION:</th><td>G2C – Government to Citizen</td></tr>
        <tr><th>WHO MAY AVAIL:</th><td>All</td></tr>
    </table>

    <h3>CHECKLIST REQUIREMENTS</h3>
    <table>
        <tr>
            <th>Requirement</th>
            <th>Where to Secure</th>
        </tr>
        <tr>
            <td>Resume with ID Photo<br>Application Letter<br>Letter Request addressed to the Provincial Governor</td>
            <td>Provided by the applicant</td>
        </tr>
    </table>

    <h3>PROCESSING STEPS</h3>
    <table>
        <tr>
            <th>CLIENT STEPS</th>
            <th>AGENCY ACTION</th>
            <th>FEES TO BE PAID</th>
            <th>PROCESSING TIME</th>
            <th>PERSON RESPONSIBLE</th>
        </tr>
        <tr>
            <td>1. Sign in the Client Log Book</td>
            <td>1. Give the logbook to the Client and receive the required documents.</td>
            <td>None</td>
            <td>1 min.</td>
            <td>Administrative Aide I</td>
        </tr>
        <tr>
            <td>2. Request for the recommendation letter</td>
            <td>2. Start preparing the recommendation letter.<br>2.1 Review and countersign the recommendation letter.<br>2.2 Endorse the recommendation letter to the Office of the Provincial Administrator for review/countersign and to the Office of the Provincial Governor for signature.<br>2.2.1 For Provincial Administrator’s Review and Countersign (3 Working Days)<br>2.2.2 For Governor’s Signature (4 Working Days)</td>
            <td>None</td>
            <td>7 Days</td>
            <td>Labor and Employment Officer I, PESO Manager, Administrative Aide I, Provincial Administrator, Provincial Governor</td>
        </tr>
        <tr>
            <td>3. Receive Follow-up Slip</td>
            <td>3. Issue Follow-up Slip to the client.</td>
            <td>None</td>
            <td>1 min.</td>
            <td>Labor and Employment Officer I</td>
        </tr>
        <tr>
            <td>4. Receive the Recommendation Letter</td>
            <td>4. Notify the client that the Recommendation Letter is ready for release.<br> Issue the signed Recommendation Letter to the client.</td>
            <td>None</td>
            <td>1 min.</td>
            <td>Labor and Employment Officer I</td>
        </tr>
    </table>

    <p><strong>TOTAL:</strong> 7 days and 23 minutes</p>
    <p><strong>End of Transaction</strong></p>
</div>