@page "/nbiconcern"

<PageTitle>NBI CLEARANCE CONCERNS</PageTitle>

<div class="form-cont">
    <h2 class="center-align">ISSUANCE OF ENDORSEMENT FOR NBI CLEARANCE CONCERNS</h2>
    <p class="center-align"><strong>ABOUT THE SERVICE:</strong> It helps facilitate the immediate release of NBI Clearance for employment purposes.</p>

    <table>
        <tr>
            <th>OFFICE:</th>
            <td>Public Employment Service Office</td>
        </tr>
        <tr>
            <th>CLASSIFICATION:</th>
            <td>Simple</td>
        </tr>
        <tr>
            <th>TYPE OF TRANSACTION:</th>
            <td>G2C – Government to Citizen</td>
        </tr>
        <tr>
            <th>WHO MAY AVAIL:</th>
            <td>All</td>
        </tr>
    </table>
    <div class="table-scroll">
        <table>
            <tr>
                <th class="center">CHECKLIST REQUIREMENTS</th>
                <th class="center">WHERE TO SECURE</th>
            </tr>
            <tr>
                <td>Any Valid Identification Card (ID) <br> NBI Online Reference Number and Proof of Payment</td>
                <td>Provided by the Client <br> NBI Website (<a class ="form-link" href="https://clearance.nbi.gov.ph" target="_blank">https://clearance.nbi.gov.ph</a>)</td>
            </tr>
        </table>
    </div>
    <div class="table-scroll">
        <table>
            <tr>
                <th class="center">CLIENT STEPS</th>
                <th class="center">AGENCY ACTION</th>
                <th class="center">FEES TO BE PAID</th>
                <th class="center">PROCESSING TIME</th>
                <th class="center">PERSON RESPONSIBLE</th>
            </tr>
            <tr>
                <td>1. Sign in the Client Log Book and Present Identification Card</td>
                <td>1.1 Receive the required documents and check for completeness.</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>2. Request for Assistance for immediate release of NBI Clearance</td>
                <td style ="vertical-align: top;">
                    2.1 Prepare the Endorsement Letter <br> <br /><br />
                    2.2 Review and sign the Endorsement Letter.
                </td>
                <td>None</td>
                <td style="vertical-align: top;">7 mins. <br> <br /><br /> 1 min.</td>
                <td>Employment Officer I <br><br /> PESO Manager <br />Asst. PESO Manager</td>
            </tr>
            <tr>
                <td>3. Release of Endorsement Letter</td>
                <td>3.1 Issue the Endorsement Letter</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>4. Receive the Endorsement Letter</td>
                <td>4.1 Accompany the Client to NBI Office when the need arises</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
        </table>
    </div>
    <h3 class="center-align">Total Processing Time: 11 minutes</h3>
    <p class="center-align">End of Transaction</p>
</div>