@page "/objectioncertificate"

<PageTitle>OBJECTION CERTIFICATE</PageTitle>

<div class="form-cont">
    <h2>ISSUANCE OF NO OBJECTION CERTIFICATE (NOC)</h2>
    <p><strong>ABOUT THE SERVICE:</strong> It helps address the issues of unlawful employment practices by employers or agencies, here and abroad, thereby protecting the employees' well-being and provides assistance to the OFW and/or immediate family, such as referrals to other agencies on employment-related cases and other concerns.</p>

    <table>
        <tr>
            <th>OFFICE:</th>
            <td>Public Employment Service Office</td>
        </tr>
        <tr>
            <th>CLASSIFICATION:</th>
            <td>Simple</td>
        </tr>
        <tr>
            <th>TYPE OF TRANSACTION:</th>
            <td>G2C – Government to Business Entity</td>
        </tr>
        <tr>
            <th>WHO MAY AVAIL:</th>
            <td>All</td>
        </tr>
    </table>

    <h3>CHECKLIST REQUIREMENTS</h3>
    <div class="table-scroll">
        <table>
            <tr>
                <th>Requirements</th>
                <th>Where to Secure</th>
            </tr>
            <tr>
                <td>
                    ✓ Letter of Intent addressed to the Provincial Governor<br>
                    ✓ Business Permit<br>
                    ✓ SEC/DTI Registration<br>
                    ✓ BIR Registration<br>
                    ✓ PhilJob.Net Registration<br>
                    ✓ DOLE Certification (for Local Recruitment)<br>
                    ✓ POEA License (for Overseas)<br>
                    ✓ Job Postings/Job Order<br>
                    ✓ Affidavit of Undertaking (for Overseas Recruitment)
                </td>
                <td>
                    Provided by the company/Overseas Agency<br>
                    LGU where the business is established<br>
                    Securities and Exchange Commission (SEC) – for Corporation<br>
                    Department of Trade and Industry (DTI) – for Sole Proprietorship<br>
                    Bureau of Internal Revenue Office<br>
                    PhilJob.Net (http://srs.philjobnet.ph)<br>
                    Department of Labor and Employment<br>
                    Philippine Overseas Employment Agency
                </td>
            </tr>
    </table>
    </div>
    <h3>PROCESSING STEPS</h3>
    <div class="table-scroll">
        <table>
            <tr>
                <th>Client Steps</th>
                <th>Agency Action</th>
                <th>Fees to be Paid</th>
                <th>Processing Time</th>
                <th>Person Responsible</th>
            </tr>
            <tr>
                <td>1. Sign in the Client Log Book</td>
                <td>Give the logbook to the Client and receive the required documents.</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>2. Request for the No Objection Certificate (NOC)</td>
                <td>
                    Evaluate the requirements received and start preparing the No Objection Certificate (NOC).<br>
                    Review and sign the NOC.
                </td>
                <td>None</td>
                <td>10 mins.<br>5 mins.</td>
                <td>Administrative Aide I<br>PESO Manager<br>Asst. PESO Manager</td>
            </tr>
            <tr>
                <td>3. Receive the No Objection Certificate (NOC)</td>
                <td>Issue the NOC to the client.</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
        </table>
    </div>
    <h3>TOTAL PROCESSING TIME: 17 minutes</h3>
</div>