@page "/objectioncertificate"

<PageTitle>OBJECTION CERTIFICATE</PageTitle>

<div class="form-cont">
    <h2 class="center-align headers">ISSUANCE OF NO OBJECTION CERTIFICATE (NOC)</h2>
    <p class="center-align justify"><strong>ABOUT THE SERVICE:</strong> It helps address the issues of unlawful employment practices by employers or agencies, here and abroad, thereby protecting the employees' well-being and provides assistance to the OFW and/or immediate family, such as referrals to other agencies on employment-related cases and other concerns.</p>

    <table>
        <tr>
            <th>OFFICE:</th>
            <td>Public Employment Service Office</td>
        </tr>
        <tr>
            <th>CLASSIFICATION:</th>
            <td>Simple</td>
        </tr>
        <tr>
            <th>TYPE OF TRANSACTION:</th>
            <td>G2C – Government to Business Entity</td>
        </tr>
        <tr>
            <th>WHO MAY AVAIL:</th>
            <td>All</td>
        </tr>
    </table>

   
    <div class="table-scroll">
        <table>
            <tr>
                <th class="center">CHECKLIST REQUIREMENTS</th>
                <th class="center">WHERE TO SECURE</th>
            </tr>
            <tr>
                <td>✓ Letter of Intent addressed to the Provincial Governor</td>
                <td>Provided by the company/Overseas Agency</td>
            </tr>
            <tr>
                <td> ✓ Business Permit</td>
                <td> LGU where the business is established</td>
            </tr>
            <tr>
                <td>✓ SEC/DTI Registration</td>
                <td>
                    Securities and Exchange Commission (SEC) – for Corporation<br>
                    Department of Trade and Industry (DTI) – for Sole Proprietorship
                </td>
            </tr>
            <tr>
                <td>✓ BIR Registration</td>
                <td>Bureau of Internal Revenue Office</td>
            </tr>
            <tr>
                <td>✓ PhilJob.Net Registration</td>
                <td>PhilJob.Net (<a class="form-link" href="http://srs.philjobnet.ph" target="_blank">http://srs.philjobnet.ph</a>)</td>
            </tr>
            <tr>
                <td>✓ DOLE Certification (for Local Recruitment)</td>
                <td>Department of Labor and Employment</td>
            </tr>
            <tr>
                <td>✓ POEA License (for Overseas)</td>
                <td>Philippine Overseas Employment Agency</td>
            </tr>
            <tr>
                <td>✓ Job Postings/Job Order<br>✓ Affidavit of Undertaking (for Overseas Recruitment)</td>
                <td>Provided by the Company</td>
            </tr>
    </table>
    </div>
   
    <div class="table-scroll">
        <table>
            <tr>
                <th class="center">CLIENT STEPS</th>
                <th class="center">AGENCY ACTION</th>
                <th class="center">FEES TO BE PAID</th>
                <th class="center">PROCESSING TIME</th>
                <th class="center">PERSON RESPONSIBLE</th>
            </tr>
            <tr>
                <td>1. Sign in the Client Log Book</td>
                <td>1. Give the logbook to the Client and receive the required documents.</td>
                <td class="center-align">None</td>
                <td class="center-align">1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>2. Request for the No Objection Certificate (NOC)</td>
                <td style="vertical-align: top;">
                    2. Evaluate the requirements received and start preparing the No Objection Certificate (NOC)<br>
                    2.1 Review and sign the NOC
                </td>
                <td class="center-align" style="vertical-align: top;">None<br><br>None</td>
                <td class="center-align" style="vertical-align: top;">10 mins.<br><br>5 mins.</td>
                <td>Administrative Aide I<br>PESO Manager<br>Asst. PESO Manager</td>
            </tr>
            <tr>
                <td>3. Receive the No Objection Certificate (NOC)</td>
                <td>3. Issue the NOC to the client</td>
                <td class="center-align">None</td>
                <td class="center-align">1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
        </table>
    </div>
    <h3 class="center-align">TOTAL PROCESSING TIME: 17 minutes</h3>
    <p class="center-align">End of Transaction</p>
</div>