@page "/passportconcern"

<PageTitle>PASSPORT CONCERNS</PageTitle>

<div class="form-cont">
    <h2>ISSUANCE OF ENDORSEMENT FOR DFA PASSPORT CONCERNS</h2>
    <p><strong>ABOUT THE SERVICE:</strong> It helps facilitate the immediate processing/renewal of Passport by the Department of Foreign Affairs (DFA).</p>

    <table>
        <tr>
            <th>OFFICE:</th>
            <td>Public Employment Service Office</td>
        </tr>
        <tr>
            <th>CLASSIFICATION:</th>
            <td>Simple</td>
        </tr>
        <tr>
            <th>TYPE OF TRANSACTION:</th>
            <td>G2C – Government to Citizen</td>
        </tr>
        <tr>
            <th>WHO MAY AVAIL:</th>
            <td>All</td>
        </tr>
    </table>

    <h3>CHECKLIST REQUIREMENTS</h3>
    <table>
        <tr>
            <th>Requirement</th>
            <th>Where to Secure</th>
        </tr>
        <tr>
            <td>
                Any Government Issued Identification Card (ID) <br>
                DFA Forms (New Applicant/Renewal/Minor) <br>
                Civil Registry Documents <br>
                ✔ Birth Certificate <br>
                ✔ Marriage Contract (for married women) <br>
                Old Passport (For Renewal Only)
            </td>
            <td>Provided by the Client <br> PESO / Department of Foreign Affairs <br> Philippine Statistics Authority</td>
        </tr>
    </table>

    <h3>Client Steps and Processing</h3>
    <div class="table-scroll">
        <table>
            <tr>
                <th>CLIENT STEPS</th>
                <th>AGENCY ACTION</th>
                <th>FEES TO BE PAID</th>
                <th>PROCESSING TIME</th>
                <th>PERSON RESPONSIBLE</th>
            </tr>
            <tr>
                <td>1. Sign in the Client Log Book & Present Identification Card</td>
                <td>1.1 Give the logbook to the Client and receive the required documents and check for completeness.</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>2. Request for Assistance for immediate processing/renewal of Passport</td>
                <td>
                    2.1 Prepare the Endorsement Letter <br>
                    2.2 Review and sign the Endorsement Letter.
                </td>
                <td>None</td>
                <td>7 mins. <br> 1 min.</td>
                <td>Labor and Employment Officer I <br> PESO Manager, Asst. PESO Manager</td>
            </tr>
            <tr>
                <td>3. Release of Endorsement Letter</td>
                <td>3.1 Issue the Endorsement Letter</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>4. Receive the Endorsement Letter</td>
                <td>4.1 Accompany the Client to DFA Office when the need arises</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
        </table>
    </div>
    <h3>Total Processing Time: 11 minutes</h3>
    <p>End of Transaction</p>
</div>