@page "/pesocertificate"

<PageTitle>PESO CERTIFICATE</PageTitle>

<div class="form-cont">
    <h2>ISSUANCE OF PESO CERTIFICATE</h2>
    <p><strong>ABOUT THE SERVICE:</strong> It helps ensure Job Placement of applicants through issuance of PESO Certificate, which is one of the requirements for local employment.</p>

    <table>
        <tr>
            <th>OFFICE:</th>
            <td>Public Employment Service Office</td>
        </tr>
        <tr>
            <th>CLASSIFICATION:</th>
            <td>Simple</td>
        </tr>
        <tr>
            <th>TYPE OF TRANSACTION:</th>
            <td>G2C – Government to Citizen</td>
        </tr>
        <tr>
            <th>WHO MAY AVAIL:</th>
            <td>All</td>
        </tr>
    </table>

    <h3>CHECKLIST REQUIREMENTS</h3>
    <table>
        <tr>
            <th>Requirement</th>
            <th>Where to Secure</th>
        </tr>
        <tr>
            <td>
                Any of the following: <br>
                ✔ NBI Clearance <br>
                ✔ Barangay Clearance <br>
                ✔ Police Clearance
            </td>
            <td>
                NBI Office <br>
                Barangay Hall from where the applicant resides <br>
                City/Municipal Police Station
            </td>
        </tr>
    </table>

    <h3>Client Steps and Processing</h3>
    <div class="table-scroll">
        <table>
            <tr>
                <th>CLIENT STEPS</th>
                <th>AGENCY ACTION</th>
                <th>FEES TO BE PAID</th>
                <th>PROCESSING TIME</th>
                <th>PERSON RESPONSIBLE</th>
            </tr>
            <tr>
                <td>1. Sign in the Client Log Book and Present any of the required documents.</td>
                <td>1.1 Give the logbook to the Client and receive the required documents and check for completeness.</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>2. Request for PESO Certificate</td>
                <td>
                    2.1 Prepare the PESO Certificate <br>
                    2.2 Review and sign the PESO Certificate.
                </td>
                <td>None</td>
                <td>7 mins. <br> 1 min.</td>
                <td>Administrative Aide I <br> PESO Manager, Asst. PESO Manager</td>
            </tr>
            <tr>
                <td>3. Receive the copy of PESO Certificate</td>
                <td>3.1 Issue the PESO Certificate</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
        </table>
    </div>
    <h3>Total Processing Time: 10 minutes</h3>
    <p>End of Transaction</p>
</div>