@page "/privateentities"

<PageTitle>PRIVATE ENTITIES</PageTitle>

<div class="form-cont">
    <h2>REFERRAL TO PUBLIC AND PRIVATE ENTITIES</h2>
    <p><strong>ABOUT THE SERVICE:</strong> It helps facilitate employment for job seekers/applicants in private and public entities for local and overseas employment through Job Referral and Job Placement.</p>

    <table>
        <tr>
            <th>OFFICE:</th>
            <td>Public Employment Service Office</td>
        </tr>
        <tr>
            <th>CLASSIFICATION:</th>
            <td>Simple</td>
        </tr>
        <tr>
            <th>TYPE OF TRANSACTION:</th>
            <td>G2C – Government to Citizen</td>
        </tr>
        <tr>
            <th>WHO MAY AVAIL:</th>
            <td>All</td>
        </tr>
    </table>

    <h3>CHECKLIST REQUIREMENTS</h3>
    <table>
        <tr>
            <th>Requirement</th>
            <th>Where to Secure</th>
        </tr>
        <tr>
            <td>
                Any of the following: <br>
                ✔ Resume with ID Photo <br>
                ✔ Application Letter
            </td>
            <td>Provided by the applicant</td>
        </tr>
    </table>

    <h3>Client Steps and Processing</h3>
    <div class="table-scroll">
        <table>
            <tr>
                <th>CLIENT STEPS</th>
                <th>AGENCY ACTION</th>
                <th>FEES TO BE PAID</th>
                <th>PROCESSING TIME</th>
                <th>PERSON RESPONSIBLE</th>
            </tr>
            <tr>
                <td>1. Sign in the Client Log Book</td>
                <td>1. Give the logbook to the Client and receive the required documents.</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>2. Inquire about employment opportunities and fill out NSRS Form</td>
                <td>2. Give the NSRS form and present the Job Vacancies portfolio to the applicant.</td>
                <td>None</td>
                <td>15 mins.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>3. Check the list of Job Vacancies and choose preferred jobs</td>
                <td>
                    3. Require the client to choose three (3) preferred positions. <br>
                    3.1 Facilitate Job Matching based on the client’s skills, preferred job, qualifications, and work location. <br>
                    3.2 Email the documents to the preferred company. <br>
                    3.3 Inform client that the Company’s HR will provide feedback on the application.
                </td>
                <td>None</td>
                <td>10 mins. <br> 5 mins. <br> 2 mins. <br> 1 min.</td>
                <td>Administrative Aide I <br> Administrative Aide I <br> Labor and Employment Officer I <br> Labor and Employment Officer I</td>
            </tr>
        </table>
    </div>
    <h3>Total Processing Time: 34 minutes</h3>
    <p>End of Transaction</p>
</div>