@page "/privateentities"

<PageTitle>PRIVATE ENTITIES</PageTitle>

<div class="form-cont">
    <h2>REFERRAL TO PUBLIC AND PRIVATE ENTITIES</h2>
    <p><strong>ABOUT THE SERVICE:</strong> It helps facilitate employment for job seekers/applicants in private and public entities for local and overseas employment through Job Referral and Job Placement.</p>

    <table>
        <tr>
            <th>OFFICE:</th>
            <td>Public Employment Service Office</td>
        </tr>
        <tr>
            <th>CLASSIFICATION:</th>
            <td>Simple</td>
        </tr>
        <tr>
            <th>TYPE OF TRANSACTION:</th>
            <td>G2C – Government to Citizen</td>
        </tr>
        <tr>
            <th>WHO MAY AVAIL:</th>
            <td>All</td>
        </tr>
    </table>

    <table>
        <tr>
            <th class="center">CHECKLIST REQUIREMENTS</th>
            <th class="center">WHERE TO SECURE</th>
        </tr>
        <tr>
            <td>
                Any of the following: <br>
                <span style="display:block; text-indent:30px;">✔ Resume with ID Photo <br></span>
                <span style="display:block; text-indent:30px;">✔ Application Letter</span
            </td>
            <td>Provided by the applicant</td>
        </tr>
    </table>

    <div class="table-scroll">
        <table>
            <tr>
                 <th class="center">CLIENT STEPS</th>
                <th class="center">AGENCY ACTION</th>
                <th class="center">FEES TO BE PAID</th>
                <th class="center">PROCESSING TIME</th>
                <th class="center">PERSON RESPONSIBLE</th>
            </tr>
            <tr>
                <td>1. Sign in the Client Log Book</td>
                <td>1. Give the logbook to the Client and receive the required documents.</td>
                <td>None</td>
                <td>1 min.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td>2. Inquire about employment opportunities and fill-out NSRS Form</td>
                <td>2. Give the NSRS form and present the Job Vacancies portfolio to the applicant.</td>
                <td>None</td>
                <td>15 mins.</td>
                <td>Administrative Aide I</td>
            </tr>
            <tr>
                <td >3. Check the list of Job Vacancies obtained from private/government entities and choose preferred jobs.</td>
                <td style="vertical-align: top;">
                    3. Require the client to choose three (3) preferred positions. <br><br>
                    3.1 Facilitate Job Matching based on the client’s skills, preferred job, qualifications, and work location. <br><br>
                    3.2 Email the documents to the preferred company. <br><br />
                    3.3 Inform client that the Company’s HR will provide feedback on the application.
                </td>
                <td style="vertical-align: top;">None<br /><br /><br>None<br /><br><br />None<br /><br />None</td>
                <td style="vertical-align: top;">10 mins. <br><br /> <br>5 mins. <br><br /><br> 2 mins. <br><br /> 1 min.</td>
                <td style="vertical-align: top;">Administrative Aide I <br> <br /><br>Administrative Aide I <br><br /><br>Labor and Employment Officer I <br> Labor and Employment Officer I</td>
            </tr>
        </table>
    </div>
    <h3>Total Processing Time: 34 minutes</h3>
    <p>End of Transaction</p>
</div>