@page "/AspiringOFW"

<PageTitle>
    FINANCIAL SUPPORT TO ASPIRING OVERSEAS FILIPINO WORKERS (OFWs)
    UNDER THE TRAVEL FOR WORK NOW, PAY LATER PROGRAM
</PageTitle>

<div class="form-cont">
    <h2 style="font-weight: bold;">
        FINANCIAL SUPPORT TO ASPIRING OVERSEAS FILIPINO WORKERS (OFWs)
        UNDER THE TRAVEL FOR WORK NOW, PAY LATER PROGRAM
    </h2>
    <p><strong>RATIONALE:</strong> </p>
    <p class="just">
        In response to the requests from the greater majority of the aspiring Overseas Filipino Workers (OFWs) to 
        work abroad without the need to shell-out/pay the travelling expenses upfront, the Provincial Government of 
        Misamis Oriental (PGMO) paves way to address the formers’ financial concerns, as well as, ease their financial 
        burden thru a Travel for Work Now, Pay Later Program, in partnership with a legitimate overseas employment provider. <br />
        <br />
        <span style="font-weight: bold;">PROJECT DESCRIPTION:</span><br />
        <br />
        The funds provided for by the Provincial Government of Misamis Oriental (PGMO) shall be used specifically for the aspiring 
        OFW’s Placement Fees, Airfare and other travel-related expenses, upon compliance of the needed requisites for employment 
        abroad to the concerned recruitment agency, to wit: <br />
        <br />
        1.	He/She must be a resident of Misamis Oriental;<br />
        2.	He/She must be a first-time flyer;<br />
        3.	He/She must submit the following:<br />
        -	Letter of Intent addressed to Hon Peter M. Unabia, duly approved by the Governor or the Provincial Administrator;<br />
        -	Passport with validity period of not less than one (1) year (if already available);<br />
        -	Valid Work Visa, Entry/Work Permit (whichever is applicable per country);<br />
        -	Civil Registry Documents (like Birth Certificate, Marriage Contract, etc);<br />
        -	Proof of payment of the placement fee, airfare, pre-employment medical examinations and other travel-related 
        expenses (optional / only when available) and/or valid Certification from licensed/legitimate placement/recruitment 
        agencies on the placement fees/travel-related expenses.<br />
        -	2x2 photos



    </p>
</div>