@page "/CareerGuidance"
@inject IJSRuntime JO

<PageTitle>CAREER DEVELOPMENT PROGRAM AND INFORMATION CAMPAIGN</PageTitle>

<div class="form-cont">
    <h2 class="center-align headers">CAREER DEVELOPMENT PROGRAM AND INFORMATION CAMPAIGN</h2>
    <p><strong>RATIONALE:</strong> </p>
    <p class="just">
        The Provincial Public Employment Service Office (PESO) has conceived a proactive approach in dealing
        with employment concerns, with the involvement of all stakeholders and partner-employment providers. 
        It likewise facilitates the conduct of Career Coaching, Enhancement Trainings and Personality Development 
        Programs, with the end-view of providing the needed training/s for better direction of the clients in all 
        forms of employment.</p>
</div>
<div class="slider-cont">
    <div class="container-slide">
        <SliderCareerGuidance Images="@imageList" />
    </div>
</div>


@code {
    private List<string> imageList = new List<string>
    {
        "_content/PESOapps.Shared/career/Mar5/Mar5_1.jpg",
        "_content/PESOapps.Shared/career/Apr4/Apr4_1.jpg",
        "_content/PESOapps.Shared/career/May4/May4_1.jpg",
        "_content/PESOapps.Shared/career/May7/May7_1.jpg",
        "_content/PESOapps.Shared/career/June4/June4_1.jpg",
        "_content/PESOapps.Shared/career/Dec2/Dec2_1.jpg",
        "_content/PESOapps.Shared/career/Dec5/Dec5_1.jpg",
    };
}