@page "/CareerGuidance"

<PageTitle>CAREER DEVELOPMENT PROGRAM AND INFORMATION CAMPAIGN</PageTitle>

<div class="form-cont">
    <h1>CAREER DEVELOPMENT PROGRAM AND INFORMATION CAMPAIGN</h1>
    <p><strong>Rationale:</strong> </p>
    <p>The Provincial Public Employment Service Office (PESO) has conceived a proactive approach in dealing 
        with employment concerns, with the involvement of all stakeholders and partner-employment providers. 
        It likewise facilitates the conduct of Career Coaching, Enhancement Trainings and Personality Development 
        Programs, with the end-view of providing the needed training/s for better direction of the clients in all 
        forms of employment.</p>
</div>