@page "/Dilp"

<PageTitle>
    DOLE Integrated Livelihood Program (DILP)
</PageTitle>

<div class="form-cont">
    <h2 style="font-weight: bold; text-align:center;">
        DOLE Integrated Livelihood Program (DILP)
    </h2>
    <div class="section">
        <h2>QUALIFICATIONS/REQUIREMENTS:</h2>
        <ul>
            <li>Displaced workers (including OFWs)</li>
            <li>Low-income earners</li>
            <li>Marginalized farmers and fisherfolk</li>
            <li>Indigenous peoples</li>
            <li>Persons with disabilities</li>
            <li>Senior citizens</li>
            <li>Parents of child laborers</li>
            <li>Rebel returnees</li>
            <li>Victims of armed conflict or natural disasters</li>
            <li>Self-employed individuals with insufficient income</li>
            <li>Vulnerable women and youth</li>
            <li>Seasonal and unpaid family workers</li>
        </ul>
        <span class="spans">
            <p class="red">Not eligible:</p> 
            Government employees, elected officials, 4Ps beneficiaries, and those receiving government honoraria.
        </span>

    </div>

    <div class="section">
        <h2>Basic Requirements:</h2>
        <ul>
            <li>Letter of intent addressed to the DOLE Regional Director</li>
            <li>Beneficiary profile with 1x1 ID photo</li>
            <li>Approved business plan or project proposal</li>
            <li>Work plan</li>
        </ul>
    </div>

    <div class="section">
        <h2>INDIVIDUAL PROJECT</h2>
        <p>
            Depending on the needs of the project, the beneficiary may be eligible for a starter kit or Negosyo Kart (Nego-Kart), which provides financial assistance up to a maximum of Php 30,000.00.
        </p>

        <h3>Individual Category Requirements:</h3>
        <ol>
            <li>Project Proposal</li>
            <li>Insurance Fee of ₱50.00 pay to Palawan Pawnshop</li>
            <li>Latest 1x1 ID Picture</li>
            <li>Photocopy of Valid ID (Back-to-Back)</li>
            <li>
                Certification from Local Government Unit (LGU)/Municipal Agricultural Office (ASF-FREE)<br />
                <em>e.g. Piggery Livelihood Project</em>
            </li>
            <li>Picture of the physical store or area</li>
        </ol>
    </div>

    <div class="section">
        <h2>GROUP PROJECT</h2>
        <p>
            A project management team and profit-sharing strategy ought to be established for any organization managing a group project, and both should be outlined in the MOA and the business plan or proposal.
        </p>

        <h3>Group Category Requirements:</h3>
        <ol>
            <li>PPMT Evaluation</li>
            <li>Project Proposal</li>
            <li>Letter of Intent</li>
            <li>Registration Certificate of the Association (DOLE/SEC/CDA)</li>
            <li>Associations List of Officers</li>
            <li>List of Members (Transparency Seal Format)</li>
            <li>GSIS Insurance</li>
            <li>Certification from the Barangay (Non 4Ps Members)</li>
            <li>Contract (Building/Space Rental) <em>if applicable</em></li>
            <li>Beneficiary Profile Form</li>
        </ol>
    </div>
</div>