@page "/DistressedOFW"

<PageTitle>FINANCIAL SUPPORT TO DISTRESSED OVERSEAS FILIPINO WORKERS (OFWs)</PageTitle>

<div class="form-cont">
    <h2>FINANCIAL SUPPORT TO DISTRESSED OVERSEAS FILIPINO WORKERS (OFWs)</h2>
    <p><strong>RATIONALE:</strong> </p>
    <p>
        The Provincial Public Employment Service Office (PESO) has conceived to provide assistance or means to help OFWs 
        in distressed situations, seeking help for immediate repatriation brought about by maltreatment, physical/mental 
        illness, victims of illegal recruitment, displaced from jobs and other distressful situations. <br />
        <br />
        Aside from the fact that OFWs can avail of social services and/or any form of assistance, like reintegration and 
        livelihood opportunities from OWWA, DOLE and other allied agencies, this Office finds it essential to provide immediate 
        help/relief for returning OFWs who do not wish to go back to their overseas jobsites, but, choose to stay in the country for good.<br />
        <br />
        <br />
        <span style="font-weight: bold;">DOCUMENTARY REQUIREMENTS:</span><br />
        <br />
        a.	Certificate of Indigency;<br />
        b.	Proof of relationship to the OFW must be presented, in the event that NOK shall be the requesting party :<br />
        b.1. Photocopy of Birth Certificate of OFW – if claimant is the father/mother<br />
        b.2. Photocopy of Marriage Certificate – if claimant is the spouse<br />
        b.3. Photocopy of Birth Certificate of both OFW and claimant– if claimant is the brother/sister<br />
        b.4. Affidavit  - if claimant is not an immediate family/relative, signifying that the OFW has direct contact with the claimant.<br />
        c.	The Financial Assistance (FAs) shall only be processed with request thereof, duly approved by the Provincial Governor for amount <br />
        ranging from Php 10,000.00 and above; while FAs amounting to Php 5,000.00 can be processed with the approval of the PESO Manager.<br />


    </p>
</div>