@page "/JobFair"

<PageTitle>CONDUCT OF JOB FAIR</PageTitle>

<div class="form-cont">
    <h2>CONDUCT OF JOB FAIR</h2>
    <p><strong>Rationale/Objectives</strong> </p>
    <p>
        Job Fair is conducted to carry out full employment and equality of employment opportunities for all, and 
        for this purpose, to strengthen and expand the existing employment facilitation service machinery of the Province of Misamis Oriental.<br />
        <br />
        The conduct of Job Fair is expected to:<br />

        1.	Provide a venue where people/jobseekers could explore simultaneously various employment options from multiple companies and agencies, domestic 
        and overseas alike, to address the latter’s manpower requirements;<br />
        2.	Serve as referral and information center for the various services and programs of DOLE and other government agencies present in the area; and, <br />
        3.	Provide clients with adequate information on employment and labor market situation in the area.

    </p>
</div>