@page "/SDPI"

<PageTitle>SINGLE-DIGIT POVERTY INCIDENCE (SDPI) 2028</PageTitle>

<div class="form-cont">
    <h2>SINGLE-DIGIT POVERTY INCIDENCE (SDPI) 2028</h2>
    <p><strong>RATIONALE:</strong> </p>
    <p>
        To support the "Single-Digit Poverty Incidence (SDPI) 2028" program initiated by Gov. Peter M. Unabia, employment opportunities 
        will be a key focus area, which aims to create sustainable job opportunities for residents of Misamis Oriental through various initiatives, to wit: <br />
        <br />
        1.	Establishing partnerships between local industries and vocational institutions to develop targeted training programs aimed at enhancing 
        residents' skills and employability by 2028, ensuring alignment with industry needs.<br />
        <br />
        2.	Implementing strategic job creation initiatives across key sectors such as tourism, agriculture, and renewable energy, with the goal of 
        significantly reducing unemployment rates and fostering economic growth within the province by 2028.<br />
        <br />
        3.	Enhancing existing career counseling and skills development services offered by local government agencies, empowering individuals 
        to pursue pathways to employment that align with their interests and abilities by 2028. <br />
        <br />
        For more updates, click here: https://www.facebook.com/sdpi2028

    </p>
</div>