@page "/TUPAD"

<PageTitle>TUPAD</PageTitle>

<div class="form-cont">
    <h2>TULONG PANGHANAPBUHAY SA ATING DISPLACED/ DISADVANTAGED (TUPAD)</h2>
    <p><strong>RATIONALE:</strong> </p>
    <p style="display:block; text-indent:30px;">
        The Tulong Panghanapbuhay sa Ating Displaced/ Disadvantaged (TUPAD) is a community-based program by Department of 
        Labor and Employment (DOLE) which provides temporary employment opportunities for the vulnerable workers, particularly 
        those affected by various challenges like economic shocks, crises, disasters, and those people who have involuntary lost 
        jobs for reasons beyond their control.<br><br>
        <span style="display:block; text-indent:30px;">It is a 10-day wage emergency employment program, whose activities include the following:<br><br></span>
        <span style="display:block; text-indent:60px;">a.)	Coastal Clean-Up;<br></span>
        <span style="display:block; text-indent:60px;">b.)	Seedling/ Mangrove Planting;<br></span>
        <span style="display:block; text-indent:60px;">c.)	Barangay Clean-Up and Other Public Areas;<br></span>
        <span style="display:block; text-indent:60px;">d.)	Communal and Urban Gardening; and,<br></span>
        <span style="display:block; text-indent:60px;">e.)	Reforestation.<br><br></span>
       
        <span style="display:block; text-indent:30px;">Pertinent documents needed:<br><br></span>
        <span style="display:block; text-indent:60px;">1.	Certification of Fit to Work (For Senior Citizens)<br></span>
        <span style="display:block; text-indent:60px;">2.	Government-Issued ID<br></span>
        <span style="display:block; text-indent:60px;">3.	Community Tax Certificate (Cedula)<br><br></span>
    </p>
    <p><strong>QUALIFICATIONS:</strong> </p>
    <p>
        1.	Underemployed, Disadvantaged, Displaced Individuals aged 18 years old and above.  (75 yrs old and above may be 
        covered with other social insurance scheme at their own expense or will be shouldered by the partner-implementer)<br><br>
    </p>
    <p><strong>PERSONS WHO ARE NOT QUALIFIED:</strong> </p>
    <p>
        1.	Local or Barangay Officials and Barangay Functionaries<br>
        2.	Government Employees regardless of employment status
        (Permanent, Job Order, Contractual, and the like)<br>
        3.	Those who are working in the formal sector/ private establishments<br>
        4.	Students

    </p>
</div>