/********************** LOGIN ************************/
.login-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-cards {
    padding: 20px;
    text-align: center;
    width: 350px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-log);
    background: var(--bgcolor);
}

.login-cards h2 {
    margin-bottom: 1rem;
    color: var(--font-color);
}

.input-groups {
    margin-bottom: 2rem;
    text-align: left;
}

.input-groups label {
    display: block;
    margin-bottom: 5px;
    color: var(--font-color);
}

.input-groups input {
    width: 100%;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: inset 3px 3px 6px #bebebe, inset -3px -3px 6px #ffffff;
}

.login-containers button {
    width: 100%;
    padding: 10px;
    background-color: #317154;
    color: white;
    border: 1px solid #317154;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.login-containers button:hover {
    background-color: #07522D;
}

.login-containers .error-message {
    background: #ff7979;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.dashb {
    font-size: .7em;
}



/********************** LOGIN ************************/
