/**************** LOADING ****************/

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(240, 242, 245, 0.8);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-by {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    color: #65676b;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-direction: column;
}

.loading-text {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

.loading-div img {
    width: 50px;
}

.loading-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.loading-by p {
    font-size: 16px;
    color: #65676b;
}

.loading-div p {
    font-size: 30px;
    color: #2A2D5B;
    font-weight: 500;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**************** LOADING ****************/

/* -------------- MEDIA ------------ */
@media only screen and (max-width: 1280px) {
    .coverlog {
        left: 0%;
    }
}

@media only screen and (max-width: 1180px) {
    .contact-us-map iframe {
        width: 400px;
        height: 345px;
    }

    .contact-us-cont {
        justify-content: center;
    }

    .container-aboutus img {
        width: 100%;
    }
}

@media only screen and (max-width: 890px) {
    .contact-us-cont {
        flex-direction: column;
        align-items: center;
    }

    .peso-menu {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {

    html,
    body {
        font-size: 13px;
    }

    span.peso-log {
        font-size: 25px;
    }

    .header-title {
        text-align: center;
        font-size: 25px;
        margin: 25px 0;
    }

    span.misvis-header {
        font-size: 20px;
    }

    .org-content.misvis {
        flex-direction: column;
    }

    .nav-item {
        position: unset;
    }

    .aboutus-bub {
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-links img {
        display: unset;
    }

    .nav-links span {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .contact-us-map iframe {
        width: 300px;
        height: 250px;
    }
}

@media only screen and (max-width: 425px) {
    .peso-logos.peso-logo-im img {
        width: 100px;
    }

    .navbars {
        padding: 15px 10px;
    }

    .footer {
        font-size: 10px;
    }
}
