@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

.tupad-container {
    max-width: 1280px;
    background: #FFFFFF;
    padding: 20px;
    color: #000000;
    margin: 0 auto 0;
    box-shadow: 0px 4px 10px var(--box-shadow);
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.input-group {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input,
.input-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    border-color: #005AA7;
}

.full-width {
    width: 100%;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background: #005AA7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #003F7F;
}

@media (max-width: 768px) {
    .input-group {
        width: 48%;
    }
}

@media (max-width: 425px) {
    .input-group {
        width: 100%;
    }
}
